force-app/main/default/flows/buscarCnpj.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CnpjLead</name>
        <label>CnpjLead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CNPJService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CreateLead</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>cnpj</name>
            <value>
                <elementReference>CNPJ</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CNPJService</nameSegment>
        <outputParameters>
            <assignToReference>NomeFantasiaAPI</assignToReference>
            <name>nomeFantasia</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>razaoSocialAPI</assignToReference>
            <name>razaoSocial</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>buscarCnpj {!$Flow.CurrentDateTime}</interviewLabel>
    <label>buscarCnpj</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateLead</name>
        <label>CreateLead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>CompanyScreen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>EmailScreen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>NomeScreen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>SobrenomeScreen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nome_Fantasia__c</field>
            <value>
                <elementReference>NomeFantasiaAPI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Razao_Social__c</field>
            <value>
                <elementReference>razaoSocialAPI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website</field>
            <value>
                <elementReference>WebSiteScreen</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>New_Lead</name>
        <label>New Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CnpjLead</targetReference>
        </connector>
        <fields>
            <name>New_Lead_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Lead_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NomeScreen</name>
                    <dataType>String</dataType>
                    <fieldText>Nome</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Lead_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SobrenomeScreen</name>
                    <dataType>String</dataType>
                    <fieldText>Sobrenome</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>CompanyScreen</name>
            <dataType>String</dataType>
            <fieldText>Empresa</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CNPJ</name>
            <dataType>String</dataType>
            <fieldText>CNPJ</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RazaoSocial</name>
            <dataType>String</dataType>
            <fieldText>Razão Social</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>NomeFantasia</name>
            <dataType>String</dataType>
            <fieldText>Nome Fantasia</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>New_Lead_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Lead_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EmailScreen</name>
                    <dataType>String</dataType>
                    <fieldText>Email</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Lead_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>WebSiteScreen</name>
                    <dataType>String</dataType>
                    <fieldText>WebSite</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NomeFantasiaAPI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>NomeFantasia</elementReference>
        </value>
    </variables>
    <variables>
        <name>razaoSocialAPI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>RazaoSocial</elementReference>
        </value>
    </variables>
</Flow>
